
<div class="homePage">
<div class="header1">
  <div class="image">
    <img src="https://aapi.io/pages-aapi-services/assets/logos/logo-color.svg" alt="logo" />
  </div>
  <div class="menuList">
      <div class="list">
        
        <ul>
          <li><a class="active" href="#home">why aapi?</a></li>
          <li><a href="#news">Solutions</a></li>
          <li><a href="#contact">Partnerships</a></li>
          <li><a href="#about">Resources</a></li>
          <li><a href="#about">About us</a></li>
        </ul>
      </div>
      <div class="button">
          <button class="login">LOG IN</button>
          <button class="pricing">PRICING</button>
      </div>
  </div>
</div>
<div class="main">
<div class='splitcolumn2'>
  <div class='row'>
    <div class='column'>
      <div class='text-column'>
        <h1 style="font: 56px;">RIP APART YOUR APPS</h1>
        <p style="font:18px;">Rebuild them the way you want by embedding functionality and data from app to app</p>
        <button class="whyaapi">why aapi?</button>
      </div>
    </div>
    <div class='column'>
      <div class='image-column'>
        <img src="https://images.aapi.io/homepage-header.gif" alt="">
      </div>
    </div>
  </div>
</div>
</div>

<div class="aapicenter3">
  <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-header.svg"  alt="">
  <p style="text-align:center">aapi ties applications and identity to automation and productivity with:</p>

  <div class='some-page-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class='text-column'>
          <h3>EMBEDDED APP FUNCTIONS</h3>
          <h5>CONTINUE BELOW</h5>
        </div>
      </div>
      <div class='column'>
        <div class='image-column'>
          <h3>IDENTITY AUTOMATION</h3>
          <button class="whyaapi">Learn More</button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="step14">
  
    <div class='row'>
      <div class='column'>
        <div class='text-column'>
          <h4 style="color: #E98021" >STEP 1</h4>
          <h4 style=font:36px;>CHOOSE YOUR APP FUNCTIONS</h4>
            <p style=font:14px;>Take desired functions from your apps and put them wherever you need them the most for a truly seamless app experience.</p>
        </div>
      </div>
      <div class='column'>
        <div class='image-column'>
          <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/step1.svg" alt="">
        </div>
      </div>
    </div>
  
</div>

<div class="step25">
  <div class='row'>
    <div class='column'>
      <div class='image-column'>
        <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/embed-func.jpg"  widht="776" height="564" alt="">
        
      </div>
    </div>
    <div class='column'>
      <div class='text-column' style="padding: 80px;">
        <h4 style="color: #E98021" >STEP 2</h4>
        <h4 style=font:36px;>EMBED FUNCTIONS INTO YOUR APP OF CHOICE AND TRANSFORM IT INTO THE APP OF YOUR DREAMS</h4>
              <p style=font:14px;>Embed key functionality from any number of apps to your favorite app of choice in a way that makes the most sense for your workflows. With aapi you can have the ability to control the functionalities you need, when you need them, without the need to switch between multiple apps.</p>
      </div>
    </div>
  </div>
</div>

<div class="step36">
  <div class='row'>
    <div class='column'>
      <div class='text-column'>
        <h4 style="color: #E98021" >STEP 3</h4>
        <h4 style=font:36px;>RIGHT FUNCTION FOR THE RIGHT DATA</h4>
              <p style=font:11px;>aapi gathers the relevant data from virtually any app and automatically embed the correct real-time actions necessary for the event at hand.

                As an example, aapi can enable actions within a PagerDuty incident page when suspicious activity is reported within Okta. From the incident page, assigned staff can suspend the user within Okta, send a message via Slack, and/or create a ticket in Zendesk, all automatically with a single click from within PagerDuty.</p>
      </div>
    </div>
    <div class='column'>
      <div class='image-column'>
        <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step3.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="step47">
  <div class='row'>
    <div class='column'>
      <div class='image-column'>
        <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step4.svg" alt="">
        
      </div>
    </div>
    <div class='column'>
      <div class='text-column' style="padding: 80px;">
        <h4 style="color: #E98021" >STEP 4</h4>
        <h4 style=font:36px;>AUTOMATED ACTIONS WITH JUST A SINGLE CLICK</h4>
              <p style=font:14px;>With just a single click, actions tied to real-time data take place in the connected apps. Better yet, tedious tasks and repetitive data entry are automated by aapi. No more switching between multiple apps and no more copying and pasting the same data numerous times. One click from your app of choice and your task is done.</p>
      </div>
    </div>
  </div>
</div>
<div><h2 style="text-align:center;">WHAT aapi MEANS FOR YOUR BUSINESS</h2></div>
<div class="column48">
  
  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/emb-func.svg" alt="">
      <h3>EMBED FUNCTIONS</h3>
      <p>Embed functionality from any app into the app of your choice.</p>
      
    
  </div>

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/slider/eu1.png" alt="">
        <h3>AUTOMATE TASKS</h3>
        <p>No more tedious tasks and repetitive data entry.</p>
      
    
  </div>

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/aggregate-data.png" alt="">
        <h3>DATA CONFIDENCE</h3>
        <p>Collect the data you need from any app into any repository</p>
      </div>
    
  

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/micro-access.png" alt="">
      <h3>LEAST-PRIVILEGE</h3>
      <p>Give users access to only the functionality they need and nothing else.</p>
      
   
  
</div>
</div>
<div class="single"><h2 style="text-align: center;" >WHY aapi?</h2></div>
<div class="column39">
  
  
    <div class='first-column1'>
      <h3 style="color: #E98021">FLEXIBILITY FOR ANY USE CASE</h3>
      <p style="font-size: smaller">aapi works with any identity (user, device, IoT based) while offering advanced logic and flexible workflows for any use case - deployed anywhere.</p>
      
    
  </div>
<div class='first-column1'>
      <h3 style="color: #E98021">NO CODING REQUIRED</h3>
        <p style="font-size: smaller">aapi offers an intuitive UI that requires zero coding. Workflows that previously required days of custom work and coding can be done in minutes.</p>
      </div>
<div class='first-column1'>
      <h3 style="color: #E98021">10X PRODUCTIVITY</h3>
        <p style="font-size: smaller">No more tedious data entry, no more jumping between apps, and no more manual provisioning of identities.</p>
      </div>

    </div>

    <div class="column61img">
  
  
      <div class='first-column2'>
        <img src="https://aapi.io/pages-aapi-services/assets/orange7.png" alt="">
        <h3>Get aapi NOW!</h3>
        <button class="pricing1">SEE PRICING</button>
        
      
    </div>
  
    
      <div class='first-column3'>
        <img src="https://aapi.io/pages-aapi-services/assets/stuff.jpg" alt="">
          </div>
    </div>


<div class="finalform">
  
    <img src="https://aapi.io/pages-aapi-services/assets/logos/logo.png" alt="">
    <h2 style="color:white">Learn more about what we can do for your business</h2>
    <form class="form-inline" >
      
      <input type="name" id="name" placeholder="Name" name="name">
      
      <input type="email" id="email" placeholder="Email" name="email">
      
      <button type="submit">Submit</button>
      <img src="https://aapi.io/pages-aapi-services/assets/imagebacklastpage.png" alt="">
    </form>
    
      

</div>
</div>
